        TASK 1
Q2. Write a program which will find all such numbers which are divisible by 7 but are not a multiple
of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a
comma-separated sequence on a single line.

In [1]:
import numpy as np
import pandas as pd

In [27]:
num = ""
for i in range(2000,3201):
    if (i % 5 > 0) and (i % 7 == 0):
        num = num + str(i) + ", "
        
print("Numbers divisble by 7 but not a muliple of 5 : ", num);

Numbers divisble by 7 but not a muliple of 5 :  2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199,

Q3. Write a Python program to accept the user's first and last name and then getting them printed in
the the reverse order with a space between first name and last name.

In [26]:
Fname = input("Enter first name: ")
Lname = input("Enter last name: ")
Name = Fname + " " + Lname
Rname = ""
for i in Name:
    Rname = i + Rname

print(Rname)


Name_rev = Lname + " " + Fname
print(Name_rev)

Enter first name: Aman
Enter last name: Vatsyayan
nayaystaV namA
Vatsyayan Aman

Q4. Write a Python program to find the volume of a sphere with diameter 12 cm.
Formula: V=4/3 * Ï€ * r^3

In [11]:
import math as math
r = 12
V = (4/3) * math.pi * r**3
print("Volum of sphere: ", V)

Volum of sphere:  7238.229473870882

        TASK2
Q1. Write a program which accepts a sequence of comma-separated numbers from console and
generate a list.

In [14]:
seq = input("Enter comma-separated number: ")

seq_list = list(seq.split(","))
print(seq_list)

type(seq_list)

Enter comma-separated number: 1,2,3,4,5
['1', '2', '3', '4', '5']

list

In [16]:
char = "*"

for i in range(1,10):
    if i < 6:
        print(char*i, '\n')
        num = i;
    else:
        num = num-1
        if num > 0:
            print(char*num, '\n')

*

**

***

****

*****

****

***

**

*

Q3. Write a Python program to reverse a word after accepting the input from the user.

In [20]:
strng = "AcadGild"
RevStr = ""
for i in strng:
    RevStr = i + RevStr

print(RevStr)

dliGdacA

Q4. WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a
SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all
its citizens

In [25]:
print("WE, THE PEOPLE OF INDIA, \n \t having solemnly resolved to constitute India into a SOVEREIGN,\n \t \t SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC \n \t \t  and to secure to all its citizens")

WE, THE PEOPLE OF INDIA,
 	 having solemnly resolved to constitute India into a SOVEREIGN,
 	 	 SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
 	 	  and to secure to all its citizens